*{
    padding: 0;
    margin: 0;
}
nav {
    background-color: rgb(207, 202, 202);
    text-align: center;
    font-family: 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    height: 80px;
    padding-top: 40px;
    font-size: 20px;
}
.box
{
    text-align: center;
    margin-top: 40px;  
}
#boxx {
    width: 300px;
    height: 300px;
    border: 2px solid black;
    display: inline-block;
    background-color: rgb(207, 202, 202);
}
#boxx img{
    width: 300px;
    height: 200px;
    background-size: cover;
    
}

body{
    background-color: rgb(240, 235, 231);
}
